@{
    ViewBag.Title = "Home Page";
}

<div class="intro">
    <h1>Alive Film Collection</h1>
    <h3>Film collection database for fanatic collectors </h3>

</div>


<!--/*action and controller name*/ // GET: UserDetails/Details -->
<!--   <p><a class="btn btn-default" href="@Url.Action("Details", "UserDetails")">Details of First no DB &raquo;</a></p> -->